@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

:root{
    --primary-color:#25316D;
    --secondary-color:#FFEEAF;
    --background-color:#abd9ff;
}


body{
    margin: 0;
}


#logo{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.8px;
    color: #000;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: uppercase;
    color: #1f2d89;
}

#careers{
    text-transform: uppercase;
    color: gray;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.8px;
}

.nav-link{
    color: #1f2d89;
}


.btn-hero{
    margin-top: 40px;
    background-color: var(--secondary-color);
    color: #000;
}

.btn-hero:hover{
    background-color: #fdf2cb;
    color: #000;
}


.sub-heading{
    font-size: 35px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

.perk-card{
    padding: 10px 25px;
    margin: 15px;
    border-radius: 5px;
}

.perk-card-title{
    font-family: 'Josefin Sans', sans-serif;
}

.perk-card:hover{
    border: 1px solid #efefef;
    box-shadow: 0px 3px 15px 5px #efefef;
}

.btn-primary{
    background-color: var(--primary-color);
    border: 0px;
}


.remote-icon{
    font-size: 45px;
}






.job-card{
    width: auto; 
    border: 1px solid #efefef;
    margin-top: 20px;
}

.job-tag{
    background-color: var(--secondary-color);
}

.job-card:hover{
    box-shadow: 0px 3px 15px 5px #efefef;
    background-color: #fff;
}


.remote-card{
    border: 0px;
    margin: 100px 0;
    background-color: var(--background-color);
}

.remote-card-title{
    font-family: 'Josefin Sans', sans-serif;
}

.remote-card-para{
    width: 70%;
    margin: auto;
}



.footer-section{
    background-color:  #1f2d89;
    height: 180px;
    padding: 50px 0;
    color: #fff;
}


.footer-brand{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Plus Jakarta Sans', sans-serif;
}


@media screen and (max-width:600px) {
    .sub-heading{
        font-size: 30px;
        margin-bottom: 0px;
    }

    .remote-card{
        border: 0px;
        margin: 30px 0;
        border-radius: 0;
    }
    
    .remote-card-title{
        font-family: 'Josefin Sans', sans-serif;
        margin-bottom: 10px;
    }
    
    .remote-card-para{
        width: 90%;
        margin: auto;
    }

    .job-card{
        width: 100%;
    }

    .footer-section{
        background-color:  #1f2d89;
        height: auto;
        padding: 50px 0;
        color: #fff;
        text-align: center;
    }
    
    
}