

.heroSection{
    background-color: var(--background-color);
    height: 550px;
    min-height: 500px;
    padding: 150px 0;
    text-align: center;
}

.heroTitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    font-weight: 600;
    width: 50%;
    margin: auto;
}

.heroPara{
    width: 50%;
    margin: auto;
}


.perksSection{
    padding: 70px 0;
}

.openRolesSection{
    margin: 100px 0;
}


@media screen and (max-width:600px) {
    .heroSection{
        height: auto;
        padding: 80px 0;
        text-align: center;
    }

    .heroTitle{
        font-size: 38px;
        width: 80%;
        margin-bottom: 15px;
    }

    .heroPara{
        width: 80%;
        margin: auto;
    }
    

    .perksSection{
        padding: 50px 0;
    }


    .openRolesSection{
        margin: 50px 0px;
    }
}